* PA3
* Ari Eastman
* Version 1
* CS150-01
* Computer Programming for the Liberal Arts
* FA 2023
# Working with Lists and Tuples

# Task 1: List Operations

In [1]:
numbers=[10, 20, 30, 40, 50]
print(numbers)

[10, 20, 30, 40, 50]

In [2]:
numbers.append(60)
print(numbers)

[10, 20, 30, 40, 50, 60]

In [3]:
numbers.insert(0, 5)
print(numbers)

[5, 10, 20, 30, 40, 50, 60]

In [4]:
numbers.pop(1)
print(numbers)

[5, 20, 30, 40, 50, 60]

In [5]:
print(f"This is the modified numbers list: ", numbers)

This is the modified numbers list:  [5, 20, 30, 40, 50, 60]

# Task 2: Tuple Basics

In [6]:
days_tuple=("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
type(days_tuple)

tuple

In [7]:
days_tuple[2]

'Wednesday'

In [8]:
# days_tuple[1]="Funday"

##### Attempting to modify will lead to a error that 'tuple'object does not support item assignment. This is because tuple is immutable and has no functions that make it changeable through append, assignment, extend, etc.

# Task 3: Reversing Sublist

In [9]:
letters=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [22]:
letters[10:-10]

['p', 'o', 'n', 'm', 'l', 'k']

In [23]:
letters.reverse()
print(letters[10:-10])

['k', 'l', 'm', 'n', 'o', 'p']

# Task 4: Tuple Packing and Unpacking

In [12]:
student=("Ari", "Eastman", 19, "Art")
first_name, last_name, age, subject=student
print("First Name:", first_name)
print("Last Name:", last_name)
print("My Age:", age)
print("My Favorite Subject:", subject)

First Name: Ari
Last Name: Eastman
My Age: 19
My Favorite Subject: Art

# Task 5: Shopping List

In [13]:
shopping_list=["Banana", "Grape", "Cheese", "Chicken", "Onion"]

In [14]:
len(shopping_list)

5

In [15]:
shopping_list[2]="Lettuce"
print(shopping_list)

['Banana', 'Grape', 'Lettuce', 'Chicken', 'Onion']

In [16]:
sorted(shopping_list)

['Banana', 'Chicken', 'Grape', 'Lettuce', 'Onion']

In [17]:
print(sorted(shopping_list))

['Banana', 'Chicken', 'Grape', 'Lettuce', 'Onion']